
/*Color celeste de la prueba: rgb(13,202,240)
Color del navbar:rgb(36,154,166)*/

.cpntainer-fluid{
    background-color:#000000 ;
}

.card-text{
    font-family: "Raleway", sans-serif;
}
.card-body{
    background-color:rgb(36,154,166) ;
}
footer{
    background-color: rgb(36,154,166);
    padding: 4rem;
}
footer h3{
    margin-top: 4rem;
    margin-left: 2rem;
    color: #ffffff;
    font-size: 3rem;
}
footer .iconos{
    color: #ffffff;
    margin-inline-start: 70rem;
    font-size: 3rem;
    position: relative;
    bottom:4rem
}
