
/*Color celeste de la prueba: rgb(13,202,240)
Color del navbar:rgb(36,154,166)*/

/*:root{
    --primary:rgb(36,154,166)
    --light:#2e2e2e 
}*/ 
html{
    scroll-behavior: smooth;
}

body{
    background-color:#000000 ;
    color: white !important;
}
.navbar{
    background-color:rgb(36,154,166)!important
}
/*.navbarToScroll{
    position: fixed;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
}*/
section{
    padding: 12rem 5rem 5rem 5rem;
    word-spacing: 0.5rem;
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
    
}
section h3{
    
    font-family: "Kode Mono", monospace;
}

.icono1{
    justify-content: flex-end;
}
#article{
    padding:  10rem;
}
/* .card{
    width: 25rem;
    max-width: 22rem;
} */

.card-text{
    font-family: "Raleway", sans-serif;
}
.card-body{
    background-color:rgb(36,154,166) ;
}

/*#casilla_mensaje{
    texterea
}*/

.container2{
    max-width: 80%;
    padding-inline-start: 20%;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
/*valores a textarea*/
textarea{
    width: 100%;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

footer{
    background-color: rgb(36,154,166);
        height: 10rem;
        display: flex; 
        justify-content:center; 
        align-items: center; 
}
footer h3{
    font-size: 3rem;
    max-height: 1rem;
    align-items: center;
}
footer .iconos{
    color: #ffffff;
    margin-inline-start: 50rem;
    font-size: 4rem;
    align-items: baseline;

}




/*.tooltip{
    font-weight: normal;
    color: #ccc;
    text-decoration: none;
    position: relative;
}
.tooltip:hover{
    text-decoration: underline;
}
.tooltip-box{
    position: absolute;
    background-color: aquamarine;
    line-height: 20xp;
    z-index: 500;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    left: 0;
    bottom: :30px;

}

.tooltip-box::after{
    content: "";
    display: block;
    border-top: 20px solid red; 
    border-left: 20px solid red ;
    border-right: 20px solid red ;
    border-bottom: 20px solid red 
    

}


/*.tools{
    display: grid;
    grid-template-colums:repeate(auto-fit,minmax(70px,auto));
    justify-content: center;
    gap: 50px;
}
/*tooltip*/
/*.skill h3{
    background-color: :var(white);
    text-align: center;
    border-radius: 5px;
    padding:5px 0;
    font-size: 1.1rem;
    width:100px;
    transform: traslate(opx,-100px);
    transition: transform 0.4S case,transform 0.4s ease;

}
.knowledge>div:hover h3,
.tools>div:hover: h3{
    opacity: 0;
    transform: translate(opx,-100px);
}*/

